.container {
  max-width: calc(900px + 5em);
  margin: 0 1em;
  text-align: center;
  color: #2c2c2c;
}

@media (min-width: 1000px) {
  .container {
    margin: 0 auto;
  }
}

.container--flex {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

body {
  margin: 0;
}

.App {
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
  color: #43a047;
}

h1 {
  margin-bottom: 0;
}
